@CHARSET "UTF-8";

#subMenuContent .combo input.combo-text- {
	font-size: 13px;
	vertical-align: middle;
}

.warning {
	color: red;
}

.highlight {
	color: red;
	font-weight: bold;
}

.normal {
	
}

.attachment {
	display: inline-block;
	height: 16px;
	width: 16px;
}
form table {
	width: 100%;
	max-width: 1200px;
	font-size: 12px;
	border-top:3px #FFD382 solid;
	border-bottom:3px #82FFFF solid;
	border: 0 none #ccc;
}

form td.label {
	width: 90px;
	text-align: right;
	vertical-align: middle;
	padding: 5px;
	background-color: #e6eef8;
	padding-right: 5px;
	color: black;
	white-space: nowrap;
	word-break: keep-all;
	
	
}


form table {
	width: 100%;
	max-width: 1200px;
	font-size: 12px;
}

.form-control {
    display: block;
    width: 100%;
    height: 250px;
    padding: 6px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.icon-close {
    background: url(close_16x16.png) no-repeat center center;