
@CHARSET "UTF-8";
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

form {

	/* set width in form, not fieldset (still takes up more room w/ fieldset width */
	font:100% verdana,arial,sans-serif;
	margin: auto;
	padding: 0;
	min-width: 500px;
	max-width: 600px;
	width: 560px; 
	position:absolute; height:280px;
	top:0; bottom:0; left:0; right:0;

}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
/*     margin: 24px 0 12px 0; */
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

form table {
	width: 50%;
	max-width: 500px;
	font-size: 12px;
	border-top:3px #FFD382 solid;
	border-bottom:3px #82FFFF solid;
	border: 0 none #ccc;
	align:center;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 50%;
    }
}